@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/colors" as c;

.form {
  display: grid;
  gap: 9px;
  padding: 50px 25px 20px;

  .form_label {
    font-weight: 700;
    color: c.$violetMainColor;
    padding-block: 6px;
  }

  .wrapper_adultsKids {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .adults_kids {
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;

      input {
        max-width: 50px;
        height: 28px;
        text-align: center;
        flex-shrink: 0;
      }
    }
  }

  .wrapper_agree {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    gap: 3px;
    background-color: rgba(253, 190, 255, 0.53);
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.3);

    .agree {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      input {
        margin-top: 2px;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .attendance {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  /* not visible label*/
  .sr-only {
    position: absolute;
    left: -9999px;
  }

  summary {
    color: c.$textColor;
    font-family: f.$font-secondary;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    padding-block: 10px;
  }

  textarea {
    margin-top: 1rem;
    width: 100%;
    &::placeholder {
      color: c.$textColor;
      font-family: f.$font-secondary;
      font-size: 13px;
      padding: 5px;
      opacity: 1;
    }
  }
}

@media (min-width: 400px) {
  .form {
    padding: 50px 65px 0;
  }
}
