@use "../styles/variables/fonts" as f;
@use "../styles/variables/mixins/gradients" as g;
@use "../styles/variables/mixins/rainbowButton" as r;

button {
  @include r.rainbowButton;
}

.btn--small {
  font-size: 13px;
  padding: 8px;
}

.btn--medium {
  font-size: 15px;
}

.btn--large {
  font-size: 18px;
}

#submitBtn {
  width: 220px;
  height: 48px;
  font-size: 18px;
  align-self: center;
}

#showGiftTips {
  width: 180px;
  height: 42px;
  font-size: 15px;
}

.submit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
