@use "../styles/variables/colors" as c;
@use "../styles/variables/fonts" as f;

.gift-section {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  // background-color: rgba(255, 209, 247, 0.3);
  border-top: 2px dotted rgba(128, 128, 128, 0.811);

  .wrapper_form-label {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 5px;
  }

  .form_label {
    font-weight: 800;
    color: c.$violetMainColor;
  }

  .giftTitle {
    font-family: f.$font-secondary;
    color: c.$textColor;
    line-height: 1.3em;
    text-align: center;
    width: 55ch;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
  }

  .buttons_tip {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-block: 20px;
  }

  .gift-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 40%;
      border: 2px solid white;
      border-radius: 8px;
      filter: drop-shadow(2px 1px 1px rgba(128, 128, 128, 0.86));
    }

    &.hidden {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .gift-section {
    padding: 0;
    grid-column: 1 / -1;

    .wrapper_form-label {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 10px;
      padding-block: 20px;
    }
  }
}
