.hero {
  position: relative;
  aspect-ratio: 6 / 4.35;
  height: clamp(210px, 46vw, 360px);
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.scene > * {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.rainbow {
  left: 50%;
  top: clamp(12px, 3vw, 24px);
  transform: translateX(-50%);

  width: 110%;
  aspect-ratio: 2 / 1.1;

  background-image: url("../assets/invitation_animation/rainbow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  z-index: 1;
}

.castle {
  width: 53%;
  aspect-ratio: 1;
  left: -14%;
  bottom: 12%;
  background-image: url(../assets/invitation_animation/castle.png);
  z-index: 2;
}

.girl {
  left: 47%;
  bottom: 8%;
  transform: translateX(-48%);
  z-index: 4;

  img {
    width: 90%;
  }
}

.cloud {
  aspect-ratio: 3 / 2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cloud-back {
  left: 54%;
  bottom: 11%;
  width: 39%;
  background-image: url(../assets/invitation_animation/medium-cloude.png);
  /* transform: scaleX(-1); */
  z-index: 3;
}

.cloud-front {
  left: 15%;
  bottom: -3%;
  width: 31%;
  background-image: url(../assets/invitation_animation/small-cloud.png);
  z-index: 4;
}

.cloud-front.left {
  left: 42%;
  bottom: -15px;
  width: 39%;
  background-image: url(../assets/invitation_animation/medium-cloude.png);
  z-index: 4;
  transform: scaleX(-1);
}
