.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.scene {
  position: relative;
  isolation: isolate;
  width: min(100%, 320px);
  aspect-ratio: 31 / 22;
  //   width: 310px;
  //   min-height: 220px;
}

.scene > * {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.rainbow {
  width: 100%;
  aspect-ratio: 2 / 1.1;
  background-image: url("../assets/invitation_animation/rainbow.png");
  z-index: 1;
}

.castle {
  width: 180px;
  aspect-ratio: 1;
  left: -17px;
  background-image: url(../assets/invitation_animation/castle2.png);
  z-index: 2;
}

.girl {
  width: 167px;
  top: 18px;
  left: 61px;
  aspect-ratio: 1;
  background-image: url(../assets/invitation_animation/Sofie.png);
  z-index: 4;
}

.cloud-back {
  left: 145px;
  top: 105px;
  width: 130px;
  aspect-ratio: 2 / 1;
  background-image: url(../assets/invitation_animation/medium-cloude.png);
  z-index: 3;
}

.cloud-right {
  left: 142px;
  top: 154px;
  width: 105px;
  aspect-ratio: 2 / 1;
  background-image: url(../assets/invitation_animation/small-cloud.png);
  z-index: 4;
}

.cloud-left {
  left: 50px;
  top: 160px;
  width: 113px;
  aspect-ratio: 2 / 1;
  background-image: url(../assets/invitation_animation/medium-cloude.png);
  z-index: 4;
}
