@use "sass:math";
@use "sass:list";

$positions: (
  (8%, 14%),
  (9%, 62%),
  (5%, 52%),
  (11%, 32%),
  (12%, 36%),
  (12%, 38%),
  (12%, 68%),
  (5%, 20%),
  (10%, 60%),
  (15%, 65%),
  (15%, 70%),
  (20%, 12%),
  (23%, 32%),
  (25%, 65%),
  (28%, 75%),
  (30%, 35%),
  (32%, 24%),
  (32%, 30%),
  (35%, 18%),
  (38%, 70%)
);

.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 999;
}

.star {
  position: absolute;
  width: 6px;
  height: 6px;
  opacity: 0.9;
  filter: drop-shadow(0 0 1px rgba(253, 255, 205, 1));

  animation: sparkle 3s ease-in-out infinite;
}

@for $i from 1 through list.length($positions) {
  $pos: list.nth($positions, $i);

  .star:nth-child(#{$i}) {
    top: list.nth($pos, 1);
    left: list.nth($pos, 2);

    width: math.random(10) + 6px;
    height: math.random(10) + 6px;

    animation-delay: -#{math.random(30) / 10}s;
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(0.7) rotate(0deg);
  }

  50% {
    opacity: 0.9;
    transform: scale(1) rotate(45deg);
  }
}
