@use "./styles/base/reset.css";
@use "./styles/variables/gradients" as g;
@use "./components/header";
@use "./components/translate/language";
@use "./components/form/form";
@use "./components/arrrow";
@use "./styles/variables/fonts" as f;
* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: 25px;
}

p,
input,
label,
button {
  font-family: f.$font-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(103 92 97 / 90%);
}

h1 {
  font-size: 52px;
  font-family: f.$font-main;
  @include g.rainbow-text;
  filter: drop-shadow(2px 1px 1px rgba(128, 128, 128, 0.866));
  z-index: 0;
}

p,
label,
input {
  font-size: 15px;
  line-height: 1.3em;
}

h2,
span {
  font-family: f.$font-main;
  font-size: 28px;
  @include g.rainbow-text;
  filter: drop-shadow(0px 1px 0px rgba(128, 128, 128, 0.7));
  z-index: 0;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: url("./assets/invitation2.png") repeat;
  overflow-x: hidden;
}

.gift-card {
  margin-top: 20px;
  text-align: center;

  img {
    width: 220px;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &.hidden {
    display: none;
  }
}

#successMessage {
  background-color: aquamarine;
  padding: 10px;
  &.hidden {
    display: none;
  }
}

#errorMessage {
  background-color: rgb(255, 0, 30);
  padding: 10px;
  margin-top: 15px;
  &.hidden {
    display: none;
  }
}

.invitation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 40px;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    .birthday {
      padding-bottom: 5px;
    }
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      font-family: f.$font-main;
    }
  }
}

.wrapper_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;

  .info {
    text-align: center;
    font-size: 8px;
  }
}

@media (min-width: 780px) {
  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
  }

  .invitation {
    max-width: 40%;
  }
}
