@use "./styles/base/reset.css";
@use "./styles/variables/mixins/gradients" as g;
@use "./styles/variables/mixins/rainbowButton" as r;
@use "./components/header";
@use "./components/form/form";
@use "./components/arrrow";
@use "./styles/variables/fonts" as f;
@use "./components/footer";
@use "./components/gifts";
@use "./components/buttons" as b;

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: 25px;
}

p,
input,
label {
  font-family: f.$font-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(103 92 97 / 90%);
}

h1 {
  font-size: 57px;
  font-family: f.$font-main;
  @include g.rainbow-text;
  filter: drop-shadow(2px 1px 1px rgba(128, 128, 128, 0.866));
  z-index: 0;
}

p,
label,
input {
  font-size: 15px;
  line-height: 1.3em;
}

input {
  padding: 3px 4px;
}

h2,
span {
  font-family: f.$font-main;
  font-size: 30px;
  @include g.rainbow-text;
  filter: drop-shadow(0px 1px 0px rgba(160, 25, 164, 0.7));
  z-index: 0;
}

strong {
  font-weight: 800;
  color: rgb(160, 25, 164);
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: url("./assets/invitation2.png") repeat;
  overflow-x: hidden;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -999;

    background: linear-gradient(
      135deg,
      #f7e7ef 0%,
      #f6f1d9 25%,
      #e7f5f1 50%,
      #eef0fa 72%,
      #f8e7ee 100%
    );

    opacity: 0.4;
    pointer-events: none;
  }
}

.gift-card {
  margin-top: 20px;
  text-align: center;

  img {
    width: 220px;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &.hidden {
    display: none;
  }
}

#successMessage {
  background-color: rgb(245, 99, 203);
  padding: 10px;
  &.hidden {
    display: none;
  }
}

#errorMessage {
  background-color: rgb(255, 239, 8);
  padding: 10px;
  &.hidden {
    display: none;
  }
}

.invitation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-bottom: 22px;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    .birthday {
      padding-bottom: 5px;
    }
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    text-align: center;

    .dateTime,
    .playroom {
      font-family: f.$font-secondary;
      font-weight: 800;
      line-height: 1.3em;
    }

    .playroom {
      font-size: 23px;
    }

    .dateTime {
      font-size: 21px;
    }

    .placeText,
    .adress {
      font-family: f.$font-main;
      line-height: 1.6;
      letter-spacing: 0.03em;
    }
  }
}

.wrapper_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;

  .info {
    text-align: center;
    font-size: 8px;
  }
}

.submit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 780px) {
  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
  }

  .invitation {
    max-width: 40%;
  }
}
