@mixin rainbow-text {
  background: linear-gradient(
    140deg,
    #8abfe7 0%,
    #93d7ee 18%,
    #b2c2ec 36%,
    #d3bce8 55%,
    #e9c4da 74%,
    #f3d8b2 88%,
    #f6e3b6 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
