@mixin rainbow-text {
  background: linear-gradient(
    140deg,
    #5fa8df 0%,
    #6fc7e8 22%,
    #9aaee8 38%,
    #c39be3 45%,
    #e69ac3 60%,
    #f2b879 75%,
    #f7d98b 85%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
